@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap);
@import "sass/helpers/variables.scss";
@import "sass/helpers/placeholder.scss";

html {
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $bg-color;
}

// Mobile styles

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    width: 85%;
    background-color: $card-bg-color;
    border-radius: $border-radius-card;
    margin: 80px 0;
    display: flex;
    flex-direction: column-reverse;

    &__description {
        width: 80%;
        margin: 25px auto;
        text-align: center;
    }

    &__header {
        margin-bottom: 45px;
    }

    &__title {
        font-size: 1.687rem;
        @extend %title-font;
    }

    &__emphasis {
        color: $accent-color;
    }

    &__subtitle {
        font-size: 1rem;
        line-height: 1.7;
        @extend %subtitle-font;
    }

    &__stats {
        .stat {
            &__title {
                font-size: 1.562rem;
                margin-bottom: 5px;
                @extend %title-font;
            }

            &__text {
                font-size: 0.75rem;
                margin-top: 5px;
                letter-spacing: 1.15px;
                text-transform: uppercase;
                @extend %subtitle-font;
            }
        }
    }

    &__image {
        background-color: $accent-color;
        border-radius: $border-radius-mobile;
    }

    &__img {
        mix-blend-mode: multiply;
        height: 100%;

        &--mobile {
            width: 100%;
            border-radius: $border-radius-mobile;
        }

        &--desktop {
            display: none;
        }
    }
}

.attribution { 
    font-size: 0.687em; 
    text-align: center; 
    @extend %text-font;
    
    a { 
        color: hsl(228, 45%, 44%); 
    }
}

// Desktop styles

@media only screen and (min-width: 768px) {
    .card {
        width: 60%;

        &__header {
            width: 70%;
            margin: 0 auto;
        }

        &__title {
            font-size: 2.4rem;
        }

        &__stats {
            width: 70%;
            margin: 0 auto 20px;
    
            .stat {
                display: inline-block;
    
                &:not(.stat:first-child) {
                    margin-left: 10%;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .card {
        width: 80%;
        max-width: 1440px;
        flex-direction: row;

        &__description {
            width: 50%;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
        }

        &__image {
            width: 50%;
            border-radius: $border-radius-desktop;
        }

        &__img {
            height: 100%;
    
            &--mobile {
                display: none;
            }
    
            &--desktop {
                width: 100%;
                display: inline;
            }
        }
    }
}