%title-font {
    font-family: $ff-title;
    color: $title-color;
}

%subtitle-font {
    font-family: $ff-title;
    color: $text-color;
}

%text-font {
    font-family: $ff-text;
    color: $text-color;
}

%border-radius-mobile {
    border-radius: 5px 5px 0px 0px;
}