%title-font {
    font-family: $ff-title;
    color: $title-color;
}

%subtitle-font {
    font-family: $ff-title;
    color: $text-color;
}

%text-font {
    font-family: $ff-text;
    color: $text-color;
}